/* Estilo do header */
header {
    background-color: #000000; /* Adicione uma cor de fundo ao cabeçalho */
    position: fixed; /* Fixa o cabeçalho no topo */
    width: 100%; /* Faz com que o cabeçalho ocupe toda a largura */
    top: 0; /* Alinha o cabeçalho ao topo */
    z-index: 1000; /* Garante que o cabeçalho esteja acima de outros elementos */
    text-align: center;
}

header nav ul {
    display: inline-block; /* Itens do menu em linha */
}

header nav ul {
    padding: 0;
    text-align: center;
    list-style-type: none; /* Remove marcadores da lista */
    margin: 0; /* Remove margem padrão */
}

header nav ul li {
    display: inline-block; /* Itens do menu em linha */
}

header nav ul li:not(:last-child) {
    margin-right: 15px; /* Espaço entre os itens do menu */
}

.menu li a {
    color: #fff; /* Cor do texto do link */
    text-decoration: none; /* Remove sublinhado dos links */
}

.menu li a:hover {
    color: #3bd42d; /* Cor do texto ao passar o mouse */
    text-decoration: underline; /* Sublinhado ao passar o mouse */
}

h1 {
    color: #3bd42d; /* Cor do h1 */
    text-decoration: underline; /* Sublinhado no h1 */
}

h2 {
    color: #3bd42d; /* Cor do h2 */
    text-decoration: underline; /* Sublinhado no h2 */
}
